body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;

}
footer{
    text-align: center;
}

footer img{
    width: 240px;
    height:240px;
    border-radius: 50%;
    border: 5px solid orange;
   
}
footer h3 {
    display: flex;
    justify-content:center;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: orange;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid orange;
}
h1{
    color: orange;
    text-align: center;
}
.center{
    text-align: center;
}
ul{
    display:flex;
    list-style-type: none;
    text-decoration: none;
    align-items: left;
    padding: 16px;
    justify-content: space-around;
}
p{
    margin: 0px 25px 0pc 25px;
    align-items: center;
}
h2{
    color:orange;
}
